{% extends 'MainPage.html'%}

{% load static %}


{% block content %}


       
     
        {% if submitted %}
            Your Item was Submitted
        {% else %}


           <div class=" mt-5 ">
                <div class="box1 shadow ms-4 me-4 pb-1 ">
                    <!--begin-->
                        <div class="modal_box ">
                            <img class="dashboardIcon m-3" src="{% static 'img/boxes2.png' %}" alt="">
                        </div>
                       
                        <div class="" id="save_notif">

                        </div>
                        <div class="modal_title ">
                            
                            <span class=" h5">
                                {% for item in cpu_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in gpu_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in mobo_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in ram_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in storage_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in keyboard_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in monitor_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in mouse_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in psu_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in cpu_fan_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in case_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in mousepad_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                                {% for item in headphone_items %}
                                    Searched Item:   {{ item.name_model }}
                                {% endfor %}

                            </span>
                        </div>
                     

                        <div class="  ">
                            
                            <table  class="table text-dark table-hover text-center"  '>
                                <thead class="border-bottom ">
                                        <tr>
                                                
                                                <th scope="col">Name/Model</th>
                                                <th scope="col">Brand</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">price</th>
                                                {% if user.is_superuser %}
                                                    <th scope="col">Action</th>
                                                {% else %}
                                                {% endif %}
                                        </tr>
                                </thead>

                                    {% for item in cpu_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0" href="{% url 'update_cpu_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a   href="{% url 'delete_cpu_items' item.id %}"   onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                      
                                    {% endfor %}


                                    <!--this is table for gpu items-->
                                    {% for item in gpu_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_gpu_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_gpu_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for motherboard items-->
                                    {% for item in mobo_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_mobo_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_mobo_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for ram items-->
                                    {% for item in ram_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_ram_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_ram_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for storage items-->
                                    {% for item in storage_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_storage_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_storage_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for keyboard items-->
                                    {% for item in keyboard_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_keyboard_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_keyboard_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for monitor items-->
                                    {% for item in monitor_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_monitor_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_monitor_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for mouse items-->
                                    {% for item in mouse_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_mouse_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_mouse_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for power supply items-->
                                    {% for item in psu_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_psu_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_psu_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for cpu cooler/fan items-->
                                    {% for item in cpu_fan_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_cpu_fan_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_cpu_fan_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for system unit case items-->
                                    {% for item in case_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_case_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_case_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for mousepad items-->
                                    {% for item in mousepad_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_mousepad_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_mousepad_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    <!--this is table for headphone items-->
                                    {% for item in headphone_items %}
                                        <tr>
                                            <td>{{ item.name_model }}</td>
                                            <td>{{ item.brand }}</td>
                                            <td>{{ item.descriptin }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            {% if user.is_superuser %}
                                                <td>
                                                    <span class='btn btn-success btnhover'>
                                                        <a class="bg-transparent border-0"  href="{% url 'update_headphone_items' item.id %}" >
                                                            <img class='actionIcon ' src="{% static 'img/edit.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                    <span class='btn btn-danger btnhover2'>
                                                        <a  href="{% url 'delete_headphone_items' item.id %}" onclick="return confirm('Do you want to continue Delete?')">
                                                            <img class='actionIcon ' src="{% static 'img/trash.png' %}" alt=''>
                                                        </a>
                                                    </span>
                                                </td>
                                            {% else %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                  
                                </table>
                        </div>
                </div>
           </div>
        {% endif %}
     

      

{% endblock %}        