{% extends 'user/settings.html'%}

{% load static %}


{% block settings_content %}
<div class="row m-auto ">
    <h4 class="text-center mb-3">Let's start with the basic information</h4>
    <div class="col-6  about_info_cont">
       <div class="set_pic">Choose Picture</div>
    </div>
    <div class="col-6 about_info_cont">
        <div class=" Set_user_info1 ">
            <span class="">First Name: </span><span class="">Golden</span> 
        </div>
        <div class="mt-2 Set_user_info">
            <span class="">Last Name: </span><span class="">Eye</span>  
        </div>
    </div>
    
</div>

{% endblock %} 